// MEDIAQUERIES

@media screen and (min-width: 992px) {

   header {
      h1 {
         font-size: 6rem;
      }

      h2 {
         font-size: 5rem;
      }
   }
   
   .about-container {

      .about-box {
         display: flex;
         margin-bottom: 4rem;
      }
      
      .about-p {
         max-width: 240px;
      }
   }

   .proj-container {

      .work-box {
         display: flex;
         flex-direction: column;
      }
   }
   
}
