// MEDIAQUERIES

@media screen and (min-width: 992px) {
   
   .about-container {

      .about-box {
         display: flex;
         margin-bottom: 4rem;
      }
      
      .about-p {
         max-width: 240px;
      }
   }

   .proj-container {

      .work-box {
         display: flex;
         flex-direction: column;
      }
   }
   
}
